---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE, CONTACT, SOCIALS } from "@consts";
---

<PageLayout title={CONTACT.TITLE} description={CONTACT.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Let's Connect
      </div>
      <p>
        If you want to get in touch with me about something or just to say hi,
        reach out on social media or send me an email.
      </p>
      <ul class="flex flex-wrap gap-2">
        {SOCIALS.map(SOCIAL => (
          <li class="flex gap-x-2 text-nowrap">
            <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
              {SOCIAL.NAME}
            </Link>
            {"/"}
          </li>
        ))}
        <li class="line-clamp-1">
          <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
            {SITE.EMAIL}
          </Link>
        </li>
      </ul>
    </div>
  </Container>
</PageLayout>
