---
// import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
// import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
// import { dateRange } from "@lib/utils";
import { SITE, HOME, LINKS } from "@consts";

// const blog = (await getCollection("blog"))
//   .filter((post) => !post.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

// const projects = (await getCollection("projects"))
//   .filter((project) => !project.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="space-y-16">
      <section>
        <article class="space-y-4 flex flex-col">
          <h2 class="text-lg">We’re a collective of curious builders</h2>
          <span>
            We design and develop web applications - using
            <Link href="https://svelte.dev/" external> Svelte </Link>
            - for teams and founders who want their ideas to work well and stand
            up over time.
          </span>

          <br />

          <h2 class="text-lg">We believe in local-first software</h2>
          <span>
            Our work is inspired by the idea that apps should work offline, sync
            seamlessly, and respect user autonomy. We see local-first as the new
            default - and we feel a responsibility to promote these values in
            everything we build.
          </span>

          <br />

          <h2 class="text-lg">Some things we've been building</h2>
          <ul>
            <li>
              <Link href="https://github.com/librocco/librocco" external>
                Librocco
              </Link>
              is an open-source inventory system for independent bookshops. Built
              with
              <Link href="https://github.com/vlcn-io/cr-sqlite" external>
                cr-sqlite
              </Link>, it enables accurate stock tracking across multiple
              terminals - even when one drops offline.
            </li>

            <li>
              <Link href="https://whatisedible.com" external>
                What is Edible
              </Link>
              is a digital menu builder that aims to change the way restaurants communicate
              allergen and dietary information. It’s core objective is to help its
              founder (who suffers from 28 allergens) find a good place for dinner.
              It includes a
              <Link href="https://dietprofile.whatisedible.com/" external>
                diet profile tracker
              </Link> that puts privacy first - data stays local by default, and
              is encrypted when shared.
            </li>
          </ul>

          <br />
          <br />

          <span>
            Got a project in mind?
            <Link href="mailto:team@codemyriad.io" external> Hire us </Link>
          </span>
          <span>
            Just want to lurk or say hi?
            <Link href="https://forum.codemyriad.io/" external>
              The forum
            </Link>
            is open — expect ramblings.
          </span>
        </article>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section> -->

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section> -->

      <!-- <section class="space-y-4">
        <ul class="flex flex-wrap gap-2">
          {
            LINKS.map((LINK, ix, arr) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={LINK.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${LINK.NAME}`}
                >
                  {LINK.NAME}
                </Link>
                {ix !== arr.length - 1 ? "/" : ""}
              </li>
            ))
          }
        </ul>
      </section> -->

      <!-- <section class="text-xl">
        <img src="/favicon.png" />
      </section> -->
    </div>
  </Container>
</PageLayout>
