---
// import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
// import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
// import { dateRange } from "@lib/utils";
import { SITE, HOME, LINKS } from "@consts";

// const blog = (await getCollection("blog"))
//   .filter((post) => !post.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

// const projects = (await getCollection("projects"))
//   .filter((project) => !project.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          We are a collective of curious individuals who build software
          <br />
          We like to tell stories. They're often a little long
          <br />
          We respect the kind of software that help us organise our communication
          <br />
          like
          <Link href="https://obsidian.md/" external> obsidian </Link>
          {"/"}
          <Link href="https://www.discourse.org/" external> discourse </Link>

          <br />
          <br />

          We are working on a few projects
          <br />
          We hope they will have a positive social impact
          <br />
          <Link href="https://github.com/librocco/librocco" external>
            Librocco
          </Link>
          {"/"}
          <Link href="https://menus.whatisedible.com/fresh/" external>
            What is Edible
          </Link>

          <br />
          <br />

          We share the stories that interest us
          <Link href="https://forum.codemyriad.io/" external> here. </Link>
        </article>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section> -->

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section> -->

      <!-- <section class="space-y-4">
        <ul class="flex flex-wrap gap-2">
          {
            LINKS.map((LINK, ix, arr) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={LINK.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${LINK.NAME}`}
                >
                  {LINK.NAME}
                </Link>
                {ix !== arr.length - 1 ? "/" : ""}
              </li>
            ))
          }
        </ul>
      </section> -->

      <!-- <section class="text-xl">
        <img src="/favicon.png" />
      </section> -->
    </div>
  </Container>
</PageLayout>
