---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";

const blogs = (await getCollection("blogs"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);


const allwork = (await getCollection("work_samples"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h2 class="animate font-semibold text-black dark:text-white text-center">
      Hi, I'm Ahmad<span class="text-xl">👋🏻</span>
    </h2>
    
    <div class="space-y-16">
      <section>
        <article class="space-y-1 text-center">
          <p class="animate">
            I'm a <strong>Tool Agnostic</strong> Data Engineer passionate about solving real-world problems 
            using engineering principles, such as <a href="https://dataskillviz.streamlit.app/" target="_target">DataSkillVizz</a>. 
          </p>

          
          <ul class="animate">
            
            <p style="margin-block-end: 0px;">
              Feel free to connect with me on social media or drop me an email 
            </p>
            <div class="flex gap-x-2 justify-center" style="margin-top:-10px;">
              
              {
              SOCIALS.map((SOCIAL) => (
                <li class="line-clamp-1">
                  <Link
                    href={SOCIAL.HREF}
                    external
                    aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                  >
                    {SOCIAL.NAME}
                  </Link>
                  {"-"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}
              >
              {SITE.EMAIL}
            </Link>
          </li>
        </div>
        </ul>
    </article>
      </section>

      <section class="animate space-y-4">
        <div class="gradient-line"></div>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
              Live projects
          </h5>
          <Link href="/projects"> See all live projects </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>


      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Samples
          </h5>
          <Link href="/work_samples"> See all work samples </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            allwork.map((work) => (
              <li>
                <ArrowCard entry={work} />
              </li>
            ))
          }
        </ul>
      </section>


      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">Latest posts</h5>
          <Link href="/blogs"> See all posts </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blogs.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4"></section>

    </div>
  </Container>
</PageLayout>
