---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { ArrowCard } from "@components/ArrowCard";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";
import EmailProtect from "@components/EmailProtect.astro";
import SenderForm from "@components/SenderForm.astro";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("others"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work")).sort(
  (a, b) =>
    new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf(),
);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  }),
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="flex flex-col sm:flex-row items-center gap-8 mb-16">
      <div class="shrink-0 w-1/2 mx-auto sm:w-[40%]">
        <img
          src="/photo.webp"
          aria-hidden="true"
          class="w-full aspect-square rounded-full object-cover border-2 border-slate-200 dark:border-slate-800"
        />
      </div>
      <div class="md:w-[60%]">
        <h4 class="animate font-semibold text-black dark:text-white">
          Hej <span class="text-xl">👋🏻</span>
        </h4>
        <article class="space-y-4">
          <p class="animate">
            Jestem programistą z wieloletnim doświadczeniem w tworzeniu i
            rozwijaniu małych oraz dużych aplikacji webowych.
          </p>
          <p class="animate">
            Znajdziesz tutaj mojego <Link href="/blog" variant="primary"
              >bloga</Link
            > oraz informacje o moim <Link href="/work" variant="primary"
              >doświadczeniu</Link
            > zawodowym.
          </p>
        </article>
      </div>
    </div>

    <div class="space-y-16">
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Najnowsze wpisy
          </h5>
          <Link href="/blog"> Zobacz wszystkie</Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Doświadczenie
          </h5>
          <Link href="/work"> Zobacz wszystkie </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {
            work.map((entry, index) => (
              <li>
                <div class="text-sm opacity-75">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                <div class="font-semibold text-black dark:text-white text-lg">
                  {entry.data.company}
                </div>
                <div class="text-sm opacity-75">{entry.data.role}</div>
                {index === 0 && (
                  <article>
                    <entry.Content />
                  </article>
                )}
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Inne materiały
          </h5>
          <Link href="/projects"> Zobacz wszystkie </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Zostańmy w kontakcie!
        </h5>
        <article>
          <p>
            Jeśli chcesz się ze mną skontaktować, to znajdź mnie na social
            mediach, albo napisz email.
          </p>
        </article>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                \
              </li>
            ))
          }
          <li class="line-clamp-1">
            <EmailProtect email={SITE.EMAIL} />
          </li>
        </ul>
      </section>

      <SenderForm transition:persist />
    </div>
  </Container>
</PageLayout>
